PORT=3000
NODE_ENV=development
DATABASE_URL=postgres://username:password@localhost:5432/saranga_bjp
ADMIN_PASSWORD=adminbjp@123
SESSION_SECRET=change-this-long-random-secret
DONATION_UPI_ID=sarangabjp@exampleupi
DONATION_QR_IMAGE=/assets/donation-qr-placeholder.svg
CONTACT_PHONE=+91 00000 00000
CONTACT_EMAIL=sarangabjp@example.com
OFFICE_ADDRESS=Saranga, Khandaghosh, West Bengal
WHATSAPP_NUMBER=910000000000
FACEBOOK_URL=https://facebook.com/
INSTAGRAM_URL=https://instagram.com/
YOUTUBE_URL=https://youtube.com/
GOOGLE_MAP_URL=https://www.google.com/maps/place/Saranga,+West+Bengal+713142/@23.1422935,87.7526521,16z/data=!3m1!4b1!4m6!3m5!1s0x39f83a3868481735:0x7da6d67af904038c!8m2!3d23.1416946!4d87.7578817!16s%2Fg%2F1w8w8f8z?entry=ttu&g_ep=EgoyMDI2MDUxMy4wIKXMDSoASAFQAw%3D%3D
